body {
  background-color: moccasin;
}

.app-header {
  background-color: pink;
  margin-bottom: 15px;
  text-align: center;
}

.app-title {
  font: italic 3em bolder;
  color: green;
}

.app-subtitle {
  white-space: nowrap;
  font: italic 1.5em bolder;
  color: blue;
}

.message {
  margin-bottom: 5px;
}

.ultra-name {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}

.ultra-name, .ultra-message {
  overflow-wrap: break-word;
}
